@import './../../styles/helpers';

.inquiry-page {
  padding-top: 20px;

  .gmaps {
    height: 500px;
  }

  .inquiry-header {
    background-color: $bkg-highlight;
    margin-bottom: 50px;
    text-align: center;
  }

  h1 {
    font-size: 5rem;
    line-height: 4rem;

    .special-letter {
      top: 40%;
    }
  }

  .container {
    max-width: 640px;
  }

  .quote {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: $bkg-highlight;
    font-size: 2.4rem;
    padding: 10px;
    border: 1px solid $black;
    width: 100%;
  }
}
