<section class="inquiry-page">
  <div class="inquiry-header">
    <h1 class="special-letter-wrapper">{{ 'Contact' | translate }}</h1>
  </div>

  <div class="container">
    <app-contact-form-base>
    </app-contact-form-base>

    <p class="quote no-icon">{{ blockHelper.filterBlocksByKey(blocks, 'quote').properties.text }}</p>
  </div>

  <iframe class="gmaps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2664.892550172913!2d26.113295557258493!3d44.47805511448641!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1f88261150d67%3A0x94daba51f4d4a24b!2s%C8%98oseaua+Fabrica+de+Glucoz%C4%83+9B%2C+Bucure%C8%99ti+077190!5e0!3m2!1sen!2sro!4v1559048730188!5m2!1sen!2sro" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>
