@import './../../../styles/vars';
@import './../../../styles/mixins';

.cookie {
  transition: height .3s ease-in-out;
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 0 10px;
  background-color: $black;
  color: $white;
  overflow: hidden;
  z-index: 1100;

  label {
    margin: 5px 0;
  }

  button {
    margin-left: 20px;
    background-color: transparent;
    border: 0;
    color: $white;
    cursor: pointer;
  }

  a {
    line-height: 24px;
    border: 1px solid $white;
    color: $white;

    @include respond ('gt-xs') {
      margin-left: 20px;
    }
  }
}
