@import './../../styles/helpers';

//hero section
.hero {

  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
  min-height: 100vh;

  h1,
  label {
    z-index: 9;
  }

  h2 {
    font-size: 3vw;
  }

  label {
    font-size: 1.5vw;
  }

  .overlay {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    height: 100vh;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.projects-overview {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 2rem;

  h2::before {
    content: url( '../../assets/png/icon_op.png');
    vertical-align: -50%;
  }

  p {
    text-align: left;
    white-space: pre-line;
    line-height: 2;
    padding-left: 60px;
    font-size: 1.5rem;
    max-width: 300px;
    margin: 0 auto;
  }

  .title {
    p {
      font-size: 2rem;
      margin-left: 0 !important;
    }
  }

  img {
    @include respond(gt-xs) {
      width: auto;
    }

    width: 100% !important;
  }

  a {
    position: absolute;
    bottom: -22px;
    left: 0;
  }

  .counter {
    background-color: $green;

    &::before {
      content: ' ';
      height: 50%;
      left: 0;
      width: 1px;
      background-color: $white;
      position: absolute;
    }

    span {
      font-size: 3em;
      letter-spacing: 5px;
      display: block;
    }
   }

   .po-block:first-child {
      span {
        margin-left: 45px;
        padding-right: 45px;
      }
   }
}

//cta

.cta {
  position: relative;
  padding-top: 6rem;

  >div {
    margin: auto;
  }

  p {
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: 2px;
  }

  hr {
    width: 25%;
  }
}

// award
.award-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.award-header {
  margin-bottom: 50px;
}

.award-body  {
  @include respond(gt-sm) {
    padding-right: 135px;
  }

  .img-wrapper {
    @include bg-cover(cover);
    width: 300px;
    height: 370px;
    margin-left: auto;
    margin-right: auto;

    @include respond(gt-xs) {
      width: 250px;
      height: 320px;
      margin-left: 0;
      margin-right: 15px;
    }
  }

  .award-description-wrapper {
    margin-top: 15px;

    @include respond(gt-xs) {
      margin-top: 0;
      width: calc(100% - 265px);
    }

    @include respond(gt-md) {
      padding-top: 15px;
    }
  }

  .award-title {
    margin-bottom: 25px;

    h3 {
      position: relative;

      @include respond(gt-sm) {
        margin-top: 30px;
      }

      &::after {
        content: '';
        height: 1px;
        width: 170px;
        background-color: $black;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }

    img {
      max-height: 70px;
      max-width: 100px;

      @include respond(gt-sm) {
        margin-left: 70px;
      }
    }
  }

  p {
    line-height: 24px;
  }

  a {
    margin-top: 30px;

    @include respond(gt-sm) {
      margin-top: 60px;
    }
  }
}

.award-footer {
  margin-top: 30px;

  @include respond(gt-sm) {
    padding-right: 80px;
  }

  .quote {
    margin-bottom: 25px;

    @include respond(gt-xs) {
      width: calc(100% - 280px);
      margin-top: 25px;
      margin-bottom: 0;
    }
  }

  .img-wrapper {
    @include bg-cover(cover);
    width: 280px;
    height: 195px;
    border: 1px solid $black;
  }
}

// lastest-project
.latest-project-secion {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $black;
  color: $white;
  position: relative;

  &::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 110px solid transparent;
    border-right: 110px solid transparent;
    border-top: 25px solid $gray;
    position: absolute;
    left: calc(50% - 110px);
    top: 0;
  }

  .section-title {
    margin-bottom: 50px;
  }
}

.latest-project-grid {
  >div {
    width: 100%;
  }

  >div:first-child {

    @include respond(gt-xs) {
      width: 415px;
    }

    @include respond(md) {
      width: calc(45% - 15px);
    }

    figure {
      margin-bottom: 15px;

      @include respond(gt-sm) {
        margin-bottom: 0;
      }
    }
  }

  >div:last-child {
    @include respond(gt-xs) {
      width: 565px;
    }

    @include respond(md) {
      width: calc(55% - 15px);
    }

    figure:first-child {
      margin-bottom: 15px;

      @include respond(gt-xs) {
        margin-bottom: 20px;
      }
    }
  }

  figure {
    height: 310px;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &.special {
      height: 540px;

      @include respond(gt-xs) {
        height: 640px;
      }

      figcaption {
        line-height: 80px;
        height: 80px;
        font-size: 26px;
      }
    }

    figcaption {
      text-align: center;
      font-size: 24px;
      text-transform: uppercase;
      letter-spacing: 4px;
      line-height: 50px;
      height: 50px;
      font-family: $font-logo;
      font-weight: bold;
      border: 1px solid $white;
      position: relative;
      z-index: 5;
      overflow: hidden;

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        width: 0;
        background-color: $white;
        transition: .3s ease-in-out;
        height: 100%;
        transform: skew(-25deg);
        z-index: -1;
      }
    }

    >div {
      flex: 2;
      position: relative;
    }

    .img-wrapper {
      @include bg-cover(cover);
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      transition: opacity .7s ease-in-out;
    }

    .switch-image-hover {
      opacity: 0;
    }

    &:hover {
      .img-wrapper {
        opacity: 0;
      }

      .switch-image-hover {
        opacity: 1;
      }

      figcaption {
        color: $black;

        &::before {
          width: 100%;
          left: 0;
        }
      }
    }
  }
}
