<section
  class="hero"
  fxLayout="column wrap"
  fxLayoutAlign="center center"
  [ngStyle]="{'background-image': 'url(' + blockHelper.filterBlocksByKey(blocks, 'hero').image.url + ')'}"
>
  <h1>{{ blockHelper.filterBlocksByKey(blocks, 'hero').properties.title }}</h1>
  <label>{{ blockHelper.filterBlocksByKey(blocks, 'hero').properties.description }}</label>
  <div
    class="overlay"
  >
    <img src="../assets/png/scroll_icon.png"/>
  </div>
</section>

<section class="projects-overview hr-top-right">
  <div 
    fxLayout="row wrap" 
    fxLayout.xs="column" 
    fxLayoutGap.xs="0.2%"
    fxLayoutAlign.xs="center"
    fxLayoutAlign.gt-sm="flex-end center"
  >
    <div
      fxFlex.xs
      fxFlex.sm="50%"
      fxFlex.gt-sm="30%"
      class="po-details pos-relative"
    >
      <div class="title pos-relative">
          <h2>
            {{ blockHelper.filterBlocksByKey(blocks, 'projects_overview').properties.title }}
          </h2>
      
          <p class="pb-2">
            {{ blockHelper.filterBlocksByKey(blocks, 'projects_overview').properties.subtitle }}
          </p>
          <div class="border-bottom-right"></div>
      </div>
      
      <div class="py-5 pos-relative">
        <p>
            {{ blockHelper.filterBlocksByKey(blocks, 'projects_overview').properties.description }}
        </p>
        <div class="border-bottom-right"></div>
      </div>

      <a
        [routerLink]="basePath + '/our-projects'"
        class="btn-outline--white-s"
        translate
      >
        <span>Proiectele noastre</span>
      </a> 
    </div>

    <div
      *ngFor="let i of [1,2,3]"
      fxFlex.xs
      fxFlex.sm="50%"
      fxFlex.gt-sm="20%"
      class="po-block"
    >
      <img 
        [src]="blockHelper.filterBlocksByKey(blocks, 'po_image_' + i).image.url"
        [alt]="blockHelper.filterBlocksByKey(blocks, 'po_image_' + i).properties.title"
      >
      <div class="text-center pos-relative mt-2">
          <div class="counter">
              <span>{{ blockHelper.filterBlocksByKey(blocks, 'po_image_' + i).properties.numbers }}</span>
          </div>
          <h3>{{ blockHelper.filterBlocksByKey(blocks, 'po_image_' + i).properties.title }}</h3>
      </div>
    </div>
  </div>
</section>

<section class="qoute px-2">
  <div 
    class="py-2"
    fxLayout="row"
    fxLayoutAlign="center"
  >
    <p class="qoute-text">{{blockHelper.filterBlocksByKey(blocks, 'qoute').properties.text }}</p>
  </div>
</section>

<section class="cta hr-top-left px-2">
  <div
    fxLayout="column" 
    fxLayoutAlign="center"
    fxFlex="70%"
    fxFlex.xs
  >
    <div clas="cta-text">
      <p class="py-5">{{blockHelper.filterBlocksByKey(blocks, 'cta').properties.text }}</p>
    </div>
    <div 
      class="cta-bttn py-2"
      fxLayout="row"
      fxLayout.xs="column"
      fxLayoutAlign="space-around center"
      fxLayoutGap="0.5%"
      fxLayoutGap.xs="5%"
    >
    <a
      [routerLink]="basePath + '/our-projects'"
      class="btn-box--green"
      translate
    >
      Povestea noastra
    </a> 
    <hr/>
    <a
      [routerLink]="basePath + '/our-projects'"
      class="btn-outline--white"
      translate
    >
      Serviciile noastre
    </a>
    </div>
  </div>
</section>

