@import './../../styles/helpers';

.quote {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem;

  @include respond(gt-sm) {
    font-size: 2.4rem;
  }
}

.history-section {
  padding-top: 30px;
  padding-bottom: 30px;

  .quote {
    max-width: 890px;
    margin-bottom: 50px;

    @include respond(gt-xs) {
      margin-bottom: 80px;
    }
  }
}

.history-body {
  p {
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
}

.projects-concept-section {
  background-color: $black;
  background-position: center;
  color: $white;
  padding: 0;
  background-size: cover;

  .quote {
    background-color: transparent;
    font-size: 3rem;
    line-height: 2;
    font-weight: bold;
    padding-top: 150px;
    padding-bottom: 150px;

    @include respond(gt-sm) {
      padding-top: 300px;
      padding-bottom: 300px;
    }
  }
}

.believe-section {
  padding-top: 40px;
  padding-bottom: 25px;
  background-color: $bkg-highlight;

  a {
    margin: 0 30px 15px;
    min-width: 255px;
  }
}

.believe-grid {
  margin-top: 50px;
  margin-bottom: 20px;
}

.believe-item {
  padding: 30px;
  // max-width: 400px;
  margin-left: auto;
  margin-right: auto;

  @include respond(gt-sm) {
    padding: 0 60px;
  }

  h3 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  img {
    max-height: 75px;
  }
}

.believe-item:nth-child(2) {
  position: relative;

  &::before,
  &::after {
    content: '';
    background-color: $black;
    position: absolute;
    height: 1px;
    width: 50%;

    @include respond(gt-sm) {
      top: 25%;
      height: 50%;
      width: 1px;
    }
  }

  &::before {
    top: 0;
    left: 25%;

    @include respond(gt-sm) {
      left: 0;
      top: 25%;
    }
  }

  &::after {
    bottom: 0;
    right: 25%;

    @include respond(gt-sm) {
      right: 0;
      top: 25%;
    }
  }
}


.believe-item:nth-child(3) {
  position: relative;
  @include respond(till-sm) {
    &::after {
      content: '';
      background-color: $black;
      position: absolute;
      height: 1px;
      width: 50%;
      bottom: 0;
      right: 25%;
    }
  }
}

.showcase {
  span {
    font-size: 22rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: normal;
    text-transform: none;
  }
}
