@import './../../../styles/helpers';

.showcase {
  @include backdrop($black, .5);
  height: 300px;
  background-color: $black;
  color: $white;

  @include respond(gt-sm) {
    height: 600px;
  }

  >div {
    @include bg-cover(cover);
  }
}

.showcase-content,
.showcase-video {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  h1 {
    font-size: 3rem;
    letter-spacing: 10px;

    @include respond(gt-xs) {
      font-size: 7rem;
    }
  }

  span {
    @include font($font-logo, normal, 1.6rem);
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 6px;

    @include respond(gt-sm) {
      font-size: 2.5rem;
      margin-bottom: 60px;
    }
  }
}

.showcase-content {
  z-index: 10;
}

.showcase-video {
  height: 100%;
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;

  video {
    // width: 100%;
    height: 100%;
  }
}
