@import './../../../styles/helpers';

h2 {
  font-size: 2.8rem;

  @include respond(gt-sm) {
    font-size: 3.8rem;
  }
}

.project-header {
  text-align: center;
  background-color: $bkg-highlight;
  margin-bottom: 50px;
  text-transform: uppercase;
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $font-logo;
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 4px;

  @include respond(gt-sm) {
    padding: 0;
  }

  img {
    margin-right: 12px;
  }

  h1 {
    font-size: 2.8rem;
    letter-spacing: 8px;

    @include respond(gt-sm) {
      font-size: 5rem;
      line-height: 4rem;
    }
  }
}

.project-description {
  margin-top: 25px;

  @include respond(gt-xs) {
    margin-top: 0;
  }
}

.project-details {
  .project-story {
    .section-title {
      margin-bottom: 30px;
    }

    .quote {
      margin-top: 30px;
      padding: 30px;
      margin-bottom: 50px;
    }
  }

  .slider {
    @include bg-cover(cover);
    height: 320px;
  }

  .location-wrapper {
    padding-left: 25px;
    padding-right: 25px;

    img {
      display: block;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 60px;
    }
  }

  .container>.quote {
    margin-top: 30px;
    padding: 30px;

    @include respond(gt-sm) {
      padding: 30px 130px;
    }
  }

  hr {
    margin-top: 30px;
    height: 1px;
    border: 0;
    background-color: $black;
  }
}

.project-showcase {
  margin-bottom: 50px;

  @include respond(gt-xs) {
    margin-top: 50px;
  }

  h2 {
    text-align: center;
    margin-bottom: 24px;
    margin-top: 50px;

    @include respond(gt-xs) {
      margin-top: 0;
    }
  }

  .img-wrapper {
    @include bg-cover(cover);
    width: 100%;
    height: 390px;

    @include respond(gt-sm) {
      height: 790px;
    }
  }
}

.project-award {
  .quote {
    padding: 30px;

    @include respond(gt-sm) {
      padding: 30px 70px;
    }
  }

  .award-description-wrapper {

    @include respond(gt-xs) {
      padding-left: 30px;
    }
  }

  .section-title {
    margin-bottom: 30px;
  }

  .award-title {
    margin-bottom: 25px;

    h3 {
      position: relative;
      margin-top: 30px;

      &::after {
        content: '';
        height: 1px;
        width: 170px;
        background-color: $black;
        position: absolute;
        bottom: -20px;
        left: 0;
      }
    }

    img {
      max-height: 70px;
      max-width: 100px;

      @include respond(gt-xs) {
        margin-left: 40px;
      }
    }
  }
}

.project-stats {
  margin-top: 65px;
  padding: 24px 15px;
  text-align: center;
  background-color: $bkg-highlight;

  .quote {
    font-size: 2.8rem;
  }

  h2 {
    margin-bottom: 40px;
  }

  i {
    font-size: 2.4rem;
    font-family: $headers-font;
  }
}

.project-actions {
  .btn-outline--white {
    min-width: 280px;
    margin: 12px 30px;
  }
}

.project-award,
.project-showcase {
  .container {
    max-width: 1368px;
  }
}

.award-footer {
  margin-top: 40px;

  .quote {
    margin-bottom: 25px;
  }

  .img-wrapper {
    @include bg-cover(cover);
    width: 280px;
    height: 195px;
    border: 1px solid $black;
  }
}
