@import './../../../styles/helpers';

:host {
  display: flex;
  flex-direction: column;
}

.mat-tab-group {
  position: relative;

  ::ng-deep {
    .mat-tab-header {
      display: none;
    }

    // .mat-tab-labels {
    //   justify-content: center;
    //   align-items: center;
    // }

    // .mat-tab-label-container {
    //   position: absolute;
    //   bottom: 30px;
    // }

    // .mat-tab-label {
    //   padding: 0;
    //   height: 12px;
    //   width: 12px;
    //   min-width: auto;
    //   border-radius: 50px;
    //   margin: 6px;
    //   background-color: rgba($white, 70%);
    //   transition: .3s ease-in-out;
    //   transform: scale(.7);
    // }

    // .mat-tab-label:hover,
    // .mat-tab-label-active {
    //   transform: scale(1);
    //   opacity: 1;
    //   background-color: $white;
    //   box-shadow: 0 1px 8px $black;
    // }

    .mat-ink-bar {
      display: none;
    }
  }
}

.app-slider {
  position: relative;

  &:hover {
    .slider-arrow {
      opacity: 1;
    }
  }
}

.slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 60px;
  opacity: 0;
  transition: opacity .3s ease-in-out;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  mat-icon {
    width: auto;
    color: $white;
    height: auto;
    font-size: 60px;
  }
}

.slider-bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  z-index: 10;

  button {
    display: flex;
    height: 12px;
    width: 12px;
    min-width: auto;
    border-radius: 50px;
    margin: 6px;
    background-color: rgba($white, 70%);
    transition: .3s ease-in-out;
    transform: scale(.7);
    cursor: pointer;

    &:hover,
    &.active {
      transform: scale(1);
      opacity: 1;
      background-color: $white;
      box-shadow: 0 1px 8px $black;
    }
  }
}

.slide-image {
  min-height: 250px;
  width: 100%;
}
