@import './../../styles/helpers';

.section-title+.quote {
  max-width: 890px;
  margin: 50px auto 70px;

  @include respond(gt-xs) {
    font-size: 17px;
  }
}

h2 .project-logo {
  width: auto;
  margin-bottom: 10px;
}

.projects-page {
  padding-top: 20px;
  padding-bottom: 20px;
}

.history-body {
  margin-top: 75px;
}

.main-project {

  .quote {
    background-color: transparent;
    font-size: 2.4rem;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }

  h2 {
    margin-top: 15px;
    margin-bottom: 30px;

    .project-logo {
      height: 100px;
      width: auto;
    }
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 775px;
  }

  p:not(.quote) {
    max-width: 560px;
    margin: 30px auto;
    text-align: left;
  }
}

.extra-details {
  display: flex;
  align-items: center;
  position: absolute;
  width: calc(100% + 30px);
  height: 85px;
  bottom: -85px;
  text-align: left;
  left: -60px;
  font-family: $headers-font;
  font-size: 2.4rem;
  padding-left: 60px;
  border: 1px solid $black;

  @include respond(gt-md) {
    padding-left: 40px;
  }
}

.image-switcher {
  position: relative;

  img {
    transition: opacity .7s ease-in-out;
  }

  img:last-child {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover {
    img:first-child {
      opacity: 0;
    }

    img:last-child {
      opacity: 1;
    }
  }
}

.background-image-switcher {
  height: 100%;
  position: relative;

  &::before {
    content: '';
    width: calc(100% + 30px);
    height: 200px;
    background-color: $white;
    position: absolute;
    bottom: -85px;
    left: -60px;
    z-index: -1;
  }

  .img-wrapper {
    transition: opacity .7s ease-in-out;

    &::before {
      display: none;
    }
  }


  .switch-image-hover {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
  }

  &:hover {
    .switch-image-hover {
      opacity: 1;
    }

    .img-wrapper:not(.switch-image-hover) {
      opacity: 0;
    }
  }
}
