$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;

$black: #000;
$white: #fff;
$bkg-highlight: #fff;
$gray: #f0f0f0;
$error-red: #ec3c3c;
$green: #75bf4b;

$font-arial: 'Open Sans', sans-serif;
$font-logo: Nexa, sans-serif;
$body-font: $font-arial;
$headers-font: $font-logo;

// *** Header styles
$header-top-bg: $white;
$header-top-color: $black;
$header-bottom-bg: $black;
$header-bottom-color: $white;

$site-nav-color: $white;
// Header styles ***

// *** Footer styles
$footer-bg: $black;
$footer-color: $white;
// Footer styles ***
