<app-image-carousel [sliders]="sliders">
</app-image-carousel>

<section class="project-header">
  <div class="container">
    <div
      class="top-project-bar"
      fxLayout="column"
      fxLayout.gt-sm="row"
      fxLayoutAlign="center center"
      fxLayoutAlign.gt-sm="space-between center"
    >
      <span
        fxLayout="row"
        fxLayoutAlign="center center"
      ></span>
      <h1>
        <img
          class="project-logo"
          [src]="blockHelper.filterBlocksByKey(blocks, 'logo').icon.url"
          [alt]="blockHelper.filterBlocksByKey(blocks, 'project').properties.title"
        >
      </h1>
      <span>{{ blockHelper.filterBlocksByKey(blocks, 'project').properties.est }}</span>
    </div>
  </div>
</section>
<section class="project-details">
  <div class="container">
    <div
      fxLayout="row wrap"
      fxLayout.gt-xs="row"
      fxLayoutGap.gt-xs="35px"
    >
      <div
        fxFlex="100%"
        fxFlex.gt-xs="50%"
        class="project-story"
      >
        <div class="section-title award-header">
          <h2 class="special-letter-wrapper">
            <span>{{ blockHelper.filterBlocksByKey(blocks, 'project-header').properties.section_title }}</span>
          </h2>
          <label>{{ blockHelper.filterBlocksByKey(blocks, 'project-header').properties.section_label }}</label>
        </div>
        <p>{{ blockHelper.filterBlocksByKey(blocks, 'project-header').properties.description }}</p>
        <p class="quote">{{ blockHelper.filterBlocksByKey(blocks, 'project-header').properties.text }}</p>
        <div class="slider" [ngStyle]="{'background-image': 'url(' + blockHelper.filterBlocksByKey(blocks, 'project-header').image.width_560_url + ')'}">
        </div>
      </div>
      <div
        fxFlex="100%"
        fxFlex.gt-xs="50%"
        class="project-description"
      >
        <div class="location-wrapper">
          <img
            [src]="blockHelper.filterBlocksByKey(blocks, 'project-map').image.width_560_url"
            alt=""
          >
        </div>
        <p>{{ blockHelper.filterBlocksByKey(blocks, 'project-map').properties.description }}</p>
        <hr>
      </div>
    </div>
    <p class="quote">{{ blockHelper.filterBlocksByKey(blocks, 'quote1').properties.text }}</p>
  </div>
</section>

<section class="project-showcase">
  <div class="container">
    <div
      fxLayout="row wrap"
      fxLayout.gt-xs="row"
      fxLayoutGap.gt-xs="20px"
    >
      <div
        fxFlex="100%"
        fxFlex.gt-xs="33%"
      >
        <h2>{{ blockHelper.filterBlocksByKey(blocks, 'project-showcase1').properties.title }}</h2>
        <div class="img-wrapper">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d19293.541310921628!2d26.113794!3d44.51248!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf36e26fe95ea00a2!2sB%C4%83neasa+1!5e1!3m2!1sen!2sro!4v1559049534594!5m2!1sen!2sro" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div
        fxFlex="100%"
        fxFlex.gt-xs="33%"
      >
        <h2>{{ blockHelper.filterBlocksByKey(blocks, 'project-showcase2').properties.title }}</h2>
        <div
          class="img-wrapper"
          [ngStyle]="{'background-image': 'url(' + blockHelper.filterBlocksByKey(blocks, 'project-showcase2').image.width_560_url + ')'}"
        ></div>
      </div>
      <div
        fxFlex="100%"
        fxFlex.gt-xs="33%"
      >
        <h2>{{ blockHelper.filterBlocksByKey(blocks, 'project-showcase3').properties.title }}</h2>
        <div
          class="img-wrapper"
          [ngStyle]="{'background-image': 'url(' + blockHelper.filterBlocksByKey(blocks, 'project-showcase3').image.width_560_url + ')'}"
        ></div>
      </div>
    </div>
  </div>
</section>

<section class="project-stats">
  <p class="quote bold">{{ blockHelper.filterBlocksByKey(blocks, 'quote2').properties.text }}</p>
</section>

<section class="project-actions">
  <div
    fxLayout="column"
    fxLayout.gt-sm="row"
    fxLayoutAlign="center center"
  >
    <a
      [routerLink]="basePath + blockHelper.filterBlocksByKey(blocks, 'bottom_links').properties.button1_link"
      class="btn-outline--white"
    >{{ blockHelper.filterBlocksByKey(blocks, 'bottom_links').properties.button1 }}</a>
    <a
      [routerLink]="basePath + blockHelper.filterBlocksByKey(blocks, 'bottom_links').properties.button2_link"
      class="btn-outline--white"
    >{{ blockHelper.filterBlocksByKey(blocks, 'bottom_links').properties.button2 }}</a>
  </div>
</section>
