@import './../../../styles/vars';
@import './../../../styles/mixins';

.form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $black;
  width: 100%;
  font-size: 1.6rem;
  text-align: center;
  outline: none;
  color: $black;
  line-height: 32px;

  &::placeholder {
    color: $black;
    transition: color .4s ease-in-out;
  }

  &:focus::placeholder {
    color: lighten($black, 80%);
  }
}

.form-group {
  margin-bottom: 30px;
}

textarea {
  min-height: 40px;
  resize: none;
}

button {
  margin-top: 20px;
  min-width: 250px;
  margin-left: auto;
  margin-right: auto;
}

.checkbox {
  border-bottom: 0;

  input {
    margin-right: 5px;
  }
}

.success,
.success p {
  text-align: center;
}
