@import './../../../styles/helpers';

:host {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.main-nav {
  padding: 10px 15px;
  color: $header-top-color;
  z-index: 999;
  position: relative;
}

.logo-wrapper {
  background-color: $black;
  @include respond(gt-sm) {
    margin-left: 5%;
  }

  img {
    height: 100%;
    padding: 10px;
  }

  h1 {
    display: none;
  }
}

.main-menu-wrapper {
  margin-left: 5%;

  @include respond(lt-sm) {
    margin-right: 5%;
  }

  .separator {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;

    &::after {
      content: '';
      height: 16px;
      width: 1px;
      background-color: $black;
      position: absolute;
      right: 0;
    }
  }

  >* {
    display: flex;
    align-items: center;
  }

  >div {
    a {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  span {
    margin-left: 14px;
  }

  img {
    display: block;
  }

  a+a {
    margin-left: 10px;
  }
}

.site-nav {
  background-color: $header-bottom-bg;
  color: $header-bottom-color;
  z-index: 9995;
  transition: .3s ease-in-out;

  @include respond(till-sm) {
    background-color: rgba($header-bottom-bg, .9);
    width: 100%;
    max-width: 600px;
    height: calc(100vh - 117px);
    position: fixed;
    left: 0;
    top: 117px;
    bottom: 0;
    z-index: 9998;
    transform: translateX(-100%);
  }

  @include respond(gt-sm) {
    margin-top: -50px;
  }

  &.open {
    transform: translateX(0);

    @include respond(gt-sm) {
      margin-top: 0;
    }
  }

  >div {
    @include respond(till-sm) {
      position: relative;
      height: 100%;
      padding-top: 30px;
    }

    @include respond(gt-md) {
      &::before {
        content: '';
        width: 0;
        height: 0;
        border: 40px solid transparent;
        border-right: 90px solid $black;
        border-top: 0 solid $black;
        position: absolute;
        right: 100%;
        top: 0;
      }
    }
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    @include respond(till-sm) {
      flex-direction: column;
      max-height: calc(100% - 160px);
      overflow-y: auto;

      @include respond(gt-xs) {
        max-height: calc(100% - 160px);
      }
    }

    li {
      @include respond(till-sm) {
        margin-top: 15px;
        margin-bottom: 15px;

        a {
          font-size: 24px;
        }
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    margin: 6px 30px;
    padding: 0 30px;
    line-height: 24px;
    color: $site-nav-color;
    text-transform: uppercase;
    font-family: $font-logo;
    font-weight: bold;
    letter-spacing: 3px;
    transition: .3s ease-in-out;
    border: 2px solid transparent;

    .special-char {
      font-size: 2.7em;
      height: 35px;

      @include respond(gt-sm) {
        height: 31px;
      }
    }

    &.active {
      background-color: $white;
      color: $black;
    }

    &:hover {
      @include respond(gt-sm) {
        border-color: $white;
      }
    }
  }
}

.language-switcher {
  @include respond(gt-sm) {
    padding-left: 20px;
    padding-right: 20px;
  }

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: $black;
    margin-left: 0 !important;
  }

  span {
    color: $white;
    margin: 0 auto;
    padding: 10px;
  }

  .activelang {
    background-color: $green;
  }
}

.contact-info-desktop {
  a+a {
    margin: 0;
  }
}

.contact-info-mobile {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 113px;
  left: 0;
  right: 0;
  border-top: 1px solid $white;
  border-bottom: 1px solid $white;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin: 0;
    padding-left: 0;
    padding-right: 0;

    &:first-child {
      border-right: 1px solid $white;
    }
  }
}
