<header
  (window:scroll)="onScroll()"
  (window:resize)="onResize()"
  fxLayout="row"
  fxLayoutAlign="space-between start"
>
  <nav
    class="main-nav"
    fxLayout.lt-md="row"
    fxLayout="column"
    fxLayoutAlign="space-between center" 
    fxFlex.lt-md
  >
    <button
      type="button"
      class="main-menu-burger"
      [class.open]="menuIsOpen"
      (click)="toggleMenu()"
      fxHide.gt-sm
    >
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </button>
    <a
      class=logo-wrapper
      routerLink="/"
    >
      <img
        src="./assets/png/logo.png"
        alt="REAL SOL"
      >
      <h1>Real SOL</h1>
    </a>
    <div
      class="main-menu-wrapper"
    >
      <div
        class="contact-info-desktop"
        fxHide
      >
        <a
          class="separator"
          [attr.href]="'tel:' + websiteService.website.phone"
          *ngIf="websiteService.website.phone"
        >
          <img
            src="./assets/png/phone.png"
            alt=""
          >
          <span>{{ 'Sună' | translate }} {{ websiteService.website.phone | beautify }}</span>
        </a>
        <a
          class="separator"
          [routerLink]="basePath + '/inquiry'"
        >
          <img
            src="./assets/png/mail.png"
            alt=""
          >
          <span>{{ 'Contactează-ne' | translate }}</span>
        </a>
      </div>
      <div class="language-switcher">
        <a
          [ngClass]="{'activelang': translate.currentLang == 'en'}"
          [href]="getLocalePathname('ro')"
        >
          <span>RO</span>
        </a>
        <a
        [ngClass]="{'activelang': translate.currentLang == 'ro'}"
          [href]="getLocalePathname('en')"
        >
          <span>EN</span>
        </a>
      </div>
    </div>
  </nav>
  <nav
    class="site-nav"
    [ngClass]="{'open': (menuIsOpen || desktopShowNavMenu)}"
  >
    <div>
      <ul>
        <li *ngFor="let item of navItems">
          <a
            [routerLink]="basePath + item.link"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="toggleMenu()"
          >
            <span *ngIf="item.name == 'Concept'" class="special-char">1</span>
            <span translate [innerHTML]="item.name"></span>
          </a>
        </li>
      </ul>
      <div
        class="contact-info-mobile"
        fxHide.gt-sm
      >
        <a [attr.href]="'tel:' + websiteService.website.phone">
          <i class="material-icons">phone</i>
          <span>{{ 'Sună' | translate }}</span>
          <span
            fxHide
            fxShow.gt-xs
          >
            {{ websiteService.website.phone | beautify }}
          </span>
        </a>
        <a [routerLink]="basePath + '/inquiry'">
          <i class="material-icons">mail</i>
          <span>{{ 'Contactează-ne' | translate }}</span>
        </a>
      </div>
    </div>
  </nav>
</header>
