@import './../../../styles/helpers';

footer {
  padding: 10px;
  background-color: $footer-bg;
  color: $footer-color;
  text-align: center;
}

.footer-copyright {
  @include respond(gt-sm) {
    margin-left: 5%;
  }
}

.footer-branding {
  margin-left: 6px;
  margin-top: 12px;
  color: $white;

  @include respond(gt-sm) {
    margin-top: 0;
    margin-right: 2.5%;
  }

  img {
    margin-left: 20px;
  }
}
